
#choose-button {
  border-radius: 30px;
  border: 1px solid #25c2a3;
  padding: 5px 15px;
  position: relative;
}

span {
  color: #25c2a3;
  cursor: pointer;
}

.mainDiv {
  padding: 15px;
  border-image: initial;
  border-radius: 2px;
  background-color: #f8fffe;
  margin-left: 0 !important;
  border: 1px solid #e6eced;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  overflow: hidden;
  height: 67px;
  width: 450px;
}

#close-button {
  padding: 100px;
}

.titleHome {
  color: #748590;
}

.refer-ct-name {
  color: #a5abb8;
}

.action {
  height: 58px;
  padding-top: 20px;
  float: right;
  transform: translateY(-78%);
}
