#choose {
  border-radius: 30px;
  border: 1px solid #25c2a3;
  padding: 5px 15px;
  position: relative;
  margin: 5px;
}

span {
  color: #25c2a3;
  cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

h1 {
  padding: 5px;
}
